.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
  width: 100%;
}

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.signup,.product{
  margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.signup-btn{
  margin: 25px;
  padding: 7px;
  width: 150px;
  background-color: skyblue;
}

.nav-right{
  text-align: right;
}

.invalid-input{
  color: red;
  margin-top: -20px;
  margin-left: 25px;
  display: block;
  font-size: 12px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul{
  margin: 0;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 30px;
  border: 1px solid skyblue;
  padding-left: 20px;
}